<nav class="site-navigation" role="navigation">
  <div class="navigation__item">
    <a href="/">
      <h5 class="navigation__item-title">How I Work</h5>
      <p class="navigation__item-description">A general overview of my process.</p>
    </a>
  </div>
  <div class="navigation__item">
    <a href="/why.html">
      <h5 class="navigation__item-title">Why Me?</h5>
      <p class="navigation__item-description">How I can help you.</p>
    </a>
  </div>
  <div class="navigation__item">
    <a href="/leadin.html">
      <h5 class="navigation__item-title">LeadIn</h5>
      <p class="navigation__item-description">A startup within a startup.</p>
    </a>
  </div>
  <div class="navigation__item">
    <a href="/hubspot.html">
      <h5 class="navigation__item-title">HubSpot dashboard</h5>
      <p class="navigation__item-description">Designing reusable systems.</p>
    </a>
  </div>
</nav>